= form_for @plate do |f|
  -if @plate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plate.errors.count, "error")} prohibited this plate from being saved:"
      %ul
        - @plate.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
