= semantic_form_for @club do |f|
  .span-10.last.append-6
    = f.inputs do
      = f.input :name, :as => :string
      = f.input :address, :as => :text, :required => false, :input_html => { :rows => 4}
      = f.input :club_number, :as => :string, :required => false
      = f.input :billing_period, :as => :radio, :collection => ["Monthly", "Six Months", "Annual"]
      = link_to "Plans", pricing_path
  .span-10.last
    = f.buttons :commit
    = link_to '<- Back to club', @club
