%span.span-4
  .span-4#lead_box.club_background Club
  #action_box
    - if current_user_is_officer
      .span-4#image_box
        = link_to image_tag("change_club_button.png"), edit_club_path(@club)
    .span-4#image_box
      = link_to image_tag("add_new_club_button.png"), new_club_path()
.span-20.last
  .span-20
    .span-4#labeler Name
    .span-16.last.value= @club.name
  .span-20
    .span-4#labeler Address
    .span-16.last.value
      %code= @club.address
      %h5= link_to "Map it", map_to(@club.address), {"target"=>"_blank"}
  .span-20
    .span-4#labeler Number
    %span.span-16.last.value= @club.club_number
  .span-20
    .span-4#labeler First Club Date
    %span.span-16.last.value= @club.plan_initial
  .span-20
    .span-4#labeler Plan Renewal Date
    .span-16.last.value
    - if @club.billing_period
      = @club.next_renewal_date
      = "(" + @club.billing_period 
      = " renewal) "
    - else
      = "Your club does not yet have a billing period"
  .span-20
    .span-4
      .meeting_background#labeler.last Upcoming Meetings
    .span-16.last
      %table.span-16
        %th Date
        %th Time
        %th Theme
        = render :partial => 'shared/meeting', :collection => @club.upcoming_meetings
      - if logged_in 
        .span-3.new_link= link_to image_tag("add_explicit_meeting_button.png"), new_meeting_path
  .span-20
    .span-4
      .member_background#labeler.last  Members
    .span-16.last
      %table.span-16
        %th Name
        = render :partial => 'shared/member', :collection => @active_members
        /- @club.active_members.each do |membership|
        /%p= link_to membership.member.name, membership.member
      - if current_user_is_officer 
        .span-4.new_link= link_to image_tag("add_explicit_member_button.png"), new_member_path
