%h1= @club.name

%table
  %tr
    %th Members
    %th= link_to 'Add Member', new_member_path
  = render :partial => 'member', :collection => @members
%table
  %tr
    %th Agendas
    %th= link_to 'New Agenda', new_club_agenda_path(@club)
  = render :partial => 'agenda', :collection => @agendas
  
= link_to 'Edit', edit_club_path(@club)
\|
= link_to 'Back', clubs_path
