%h1= @club.name

%table
  %tr
    %th Members
    %th= link_to 'Add Member', new_member_path
  = render :partial => 'member', :collection => @members
  %tr
    %th Agenda Templates
    %th= link_to 'Add Template', new_club_template_path
    
= link_to 'Edit', edit_club_path(@club)
\|
= link_to 'Back', clubs_path
