%h1= @club.name

%table
  %tr
    %th Members
    = render :partial => 'member', :collection => @members
    %th= link_to '(+) Add Member', new_member_path
%table
  %tr
    %th Agendas
    = render :partial => 'agenda', :collection => @agendas
    %th= link_to '(+) New Agenda', new_club_agenda_path(@club)
  
= link_to 'Edit', edit_club_path(@club)
= link_to 'Back', clubs_path
