%div#header_box.span-16
  %span.span-4#club_background Club
  %span.span-8= @club.name
  %span.span-2= link_to '(edit)', edit_club_path(@club)
%hr
.span-20
  %div
    %span.span-3.prepend-4
      %h4 Address
    %span.span-6
      %code= @club.address
      %h5= link_to "Map it", map_to(@club.address), {"target"=>"_blank"}
  %div.span-20  
    %span.span-3.prepend-4
      %h4 Club Number
    %span.span-6= @club.club_number
  %span.span-5.prepend-4
    %h4#meeting_background Upcoming Meetings
    = render :partial => 'shared/meeting', :collection => @club.upcoming_meetings
    = link_to "(+) New Meeting", new_meeting_path
  %span.span-5
    %h4#member_background Members
    = render :partial => 'shared/member', :collection => @club.members.sort_by(&:name)
    = link_to "(+) New Member", new_member_path
 
