%div#header_box.span-16
  %span.span-12= @club.name
  %span.span-2= link_to '(edit)', edit_club_path(@club)
%hr
%div#content_box.span-16
  %span#member_background.span-4
    %h3 Members 
  %span.span-10 
    %table
      = render :partial => 'member', :collection => @members
      %tr
        %td= link_to '(+) New Member', new_member_path
%hr
%div#content_box.span-16
  %span#agenda_background.span-4
    %h3 Agendas
  %span.span-10
    %table
      = render :partial => 'agenda', :collection => @agendas
      %tr
        %td= link_to '(+) New Agenda', new_club_agenda_path(@club)
  
