%h1= @club.name

%table
  %tr
    %th Member
    %th Update
  - @members.each do |member|
    %tr
      %th= member.name
      %th "Fudge"

/* TODO Fix this Add a member to adequately add members */
%h2 Add a member
= form_for(ub, @club.members.build]) do |f|
  /   = f.error_messages
  #field
    = f.label :name
    = f.text_field :name
  #actions
    = f.submit


= link_to 'Edit', edit_club_path(@club)
\|
= link_to 'Back', clubs_path
