%span.span-4
  .span-4#lead_box.club_background Club
  - if current_user.admin_for(current_club.id)
    #action_box
      .span-4
        = link_to '(Change)', edit_club_path(@club)
      .span-4
        = link_to '(Add New)', new_club_path()
.span-20.last
  .span-20
    .span-4#labeler Name
    .span-16.last.value= @club.name
  .span-20
    .span-4#labeler Address
    .span-16.last.value
      %code= @club.address
      %h5= link_to "Map it", map_to(@club.address), {"target"=>"_blank"}
  .span-20
    .span-4#labeler Number
    %span.span-16.last.value= @club.club_number
  .span-20
    .span-4#labeler Plan Type
    .span-16.last.value
      = @club.plan_type
      = link_to '(plans)', "/pricing"
  .span-20
    .span-4#labeler Billing Period
    .span-16.last.value
      = @club.billing_period
      = link_to '(plans)', "/pricing"
  .span-20
    .span-4#labeler Plan Renewal Date
    .span-16.last.value= @club.next_renewal_date
  .span-20
    .span-4
      .meeting_background#labeler.last Upcoming Meetings
      .span-3.new_link= link_to "(+) New Meeting", new_meeting_path
      .span-3.new_link= link_to "(->) All Meetings", meetings_path
    .span-16.last
      %table.span-16
        %th Date
        %th Time
        %th Theme
        = render :partial => 'shared/meeting', :collection => @club.upcoming_meetings
  .span-20
    .span-4
      .member_background#labeler.last  Members
      .span-4.new_link= link_to "(+) New Member", new_member_path
      .span-3.new_link= link_to "(->) All Members", memberships_path
    .span-16.last
      %table.span-16
        %th Name
        = render :partial => 'shared/member', :collection => @club.active_members
        /- @club.active_members.each do |membership|
        /%p= link_to membership.member.name, membership.member
