= semantic_form_for @membership do |f|
  .span-10.last.append-6
    = f.inputs do
      = f.input :member, :as => :hidden, :value => @membership.member.id
      = f.input :club, :as => :hidden, :value => @membership.club.id
      = f.input :is_guest, :as => :boolean
      = f.input :is_member, :as => :boolean
      = f.input :is_officer, :as => :boolean
    = f.buttons :commit
