= content_for :top_title do
  TM Schedule Me - Login
.span-4
  .span-4#header_box.member_background Log In
.span-16#content_box
  = form_tag do
    .span-20
      .span-3
        .email
          %label{:for => "email"} E-Mail:
      .span-6
        = text_field_tag :email, params[:email]
    .span-20
      .span-3
        .password
          %label{:for => "password"} Password:
      .span-6
        = password_field_tag :password, params[:password]
    .span-20.prepend-3
      .submit
        = submit_tag "Login"
