%tr
  %td= link_to role.role_type, edit_meeting_role_path(@meeting, role) 
  %td= role.member_name
  %td= role.ordinal  %td
  - if role != @meeting.role_first
    %td= link_to '^ Up ^', :controller => "roles", :action => "up", :id => role
  - else
    %td 
  - if role != @meeting.role_last
    %td= link_to 'v Down v', :controller => "roles", :action => "down", :id => role
