= form_for([@club, @meeting]) do |f|
  -if @meeting.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |msg|
          %li= msg
  = f.label :meeting_date
  = f.text_field :meeting_date
  %div
  = f.label :theme
  = f.text_field :theme
  .actions
    = f.submit 'Save'
