= semantic_form_for([@club, @meeting]) do |f|
  -if @meeting.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |msg|
          %li= msg
  - f.inputs do 
    =f.input :meeting_date, :as => :string #, :value => @meeting.meeting_date
    //  %span.span-12= f.text_field :meeting_date, :value => @meeting.meeting_date_formatted
    = f.input :theme, :as => :string
  = f.buttons :commit
  = link_to 'or Back to Meeting', @meeting
