= semantic_form_for ([@club, @meeting]) do |f|
  -if @meeting.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |msg|
          %li= msg
  .span-10.append-7
    = f.inputs do
      =f.input :meeting_date_part, :as => :string, :label => "Date"
      =f.input :meeting_time_part, :as => :string, :label => "Time"
      = f.input :theme, :as => :string
  = f.buttons :commit
  = link_to '<- Back to Meeting', @meeting
