%span.span-4
  .span-4#header_box.meeting_background Meeting
  .span-2= link_to '(change)', edit_meeting_path(@meeting)
  .span-2= link_to '(remove)', @meeting,:confirm => "Are you sure?", :method => :delete
  .span-2= link_to '(Club)', club_path(@club)
%span.span-16  
  %span.span-8#header_box= @meeting.meeting_date_pretty
  .span-16
    %h4.span-2
      Roles:
    %span.span-8
      %table
        = render :partial => 'role', :collection => @roles
        %tr
          %td{:colspan => "2"}= link_to '(+ Add Role)', new_meeting_role_path(@meeting, @role) 
  
