%span.span-4
  .span-4#lead_box.meeting_background Meeting
  .span-4#action_box
    = link_to '(Edit)', edit_meeting_path(@meeting)
  .span-4#action_box
    = link_to '(Add)', new_meeting_path()
%span.span-18.last 
  .span-16.last 
    .span-3#labeler Date
    = @meeting.meeting_date_part
  .span-16.last 
    .span-3#labeler Time
    = @meeting.meeting_time_part 
  .span-16.last 
    .span-3#labeler Theme
    = @meeting.theme
  .span-18
    .span-3
      #labeler Roles
    .span-15.last
      - if @roles.count > 1 then 
        %table
          %th Role
          %th Member
          %th Move 
          %th Move
          %th Delete
          = render :partial => 'role', :collection => @roles
      .span-3.new_link= link_to '(+ Add Role)', new_meeting_role_path(@meeting, @role) 

