= semantic_form_for @template do |f|
  -if @template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@template.errors.count, "error")} prohibited this template from being saved:"
      %ul
        - @template.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :name, :as => :string
  = render :partial => "plate", :collection => @template.plates, :locals => { :form => f}
  .actions
    = f.submit 'Save'
