%h1 New template

/ = render 'form'
= form_for @template, templates_path do |f|
  %p
    Name:
    = f.text_field :name
  = render :partial => "plate", :collection => @template.plates
  = add_plate_link "Add a role"
  %p.test Test
  / - for plate in @template.plates

  / = render 'role', :collection => @template.roles
  = submit_tag

= link_to 'Back', templates_path
