= semantic_form_for @relationship do |f|
  -if @relationship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relationship.errors.count, "error")} prohibited this relationship from being saved:"
      %ul
        - @relationship.errors.full_messages.each do |msg|
          %li= msg
  %h2= @relationship.club_name
  %h3= @relationship.member_object.name
  - f.inputs do
    = f.input :member, :as => :hidden
    = f.input :type, :as => :select, :collection => relationship_types
    = f.input :club, :as => :hidden

  = f.buttons :commit
  .actions
    = f.submit 'Save'
