%h1= @user.nick_name

%ul
  = render @user.clubs
%h2 Add a club
= form_for(@user.new_club) do |f|
  /   = f.error_messages
  #field
    = f.label :name
    = f.text_field :name
  #actions
    = f.submit
= link_to 'Edit', edit_user_path(@user)
= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back', users_path
