= form_for([@club, @agenda]) do |f|
  -if @agenda.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@agenda.errors.count, "error")} prohibited this agenda from being saved:"
      %ul
        - @agenda.errors.full_messages.each do |msg|
          %li= msg
  = f.label :name
  = f.text_field :name
  %div
  = f.label :meeting_date
  = f.text_field :meeting_date
  .actions
    = f.submit 'Save'
