%p= @agenda.meeting_date_pretty
%p= @agenda.notes
%table
  %tr
    %th Roles
  = render :partial => 'role', :collection => @roles
  %tr
    %td= link_to 'Add Role', new_agenda_role_path(@agenda, @role)
/= link_to 'Add a Role', new_agenda_role_path(@agenda, @role)
= link_to 'Remove Agenda', [@club, @agenda], :confirm => 'Are you sure?', :method => :delete
/ link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete 
= link_to 'Edit', edit_club_agenda_path(@club, @agenda)
\|
= link_to 'Back', club_path(@club)
