= semantic_form_for ([@meeting, @role]) do |f|
  -if @role.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg
  %div.span-20
    %span-16
      = f.inputs do 
        = f.input :member_id, :as => :select, :collection => @meeting.club.members
        = f.input :role_type_id, :as => :radio, :collection => RoleType.all, :label => "Role"
        = f.input :title
      .actions
        = f.buttons
        = link_to ' or back to Meeting', meeting_path(@meeting)
