= form_for ([@agenda, @role]) do |f|
  -if @role.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg
  = f.select(:member_id, options_from_collection_for_select(@members, :id, :name))
  = f.select(:role_type_id, options_from_collection_for_select(RoleType.all, :id, :name))
 

  .actions
    = f.submit 'Save'
