- if current_user 
  = "Signed in as "
  %b
    =link_to current_user.name, member_path(current_user)
  = ": Not you?"
  = link_to "Logout", logout_path
- else
  = link_to "Sign In", login_path
  = " Not a member? "
  = link_to "Register", welcome_register_path
