- if session[:member_id]
  = "Signed in as "
  %b
    =link_to session[:member_name], member_path(session[:member_id])
  = ": Not you?"
  = link_to "Logout", logout_path
- else
  = link_to "Sign In", login_path
  = " Not a member? "
  = link_to "Register", welcome_register_path
