!!! XML iso-8859-1

%html
%head
  %title ToastSchedule
  /   = stylesheet_link_tag :all
  /   = stylesheet_link_tag("blueprint/print.css")
  = stylesheet_link_tag("blueprint/screen.css")
  = stylesheet_link_tag("blueprint/ie.css")
  = javascript_include_tag :defaults
  = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application"
  = csrf_meta_tag
%body
  %p#notice= notice 
  %p#class= alert
  .container
    .span-24
      %span.right.small
        - if session[:member_id]
          = "Signed in as "
          %b= session[:member_name]
          = ": Not you?"
          = link_to "Logout", logout_path
        - else
          Not a member? 
          = link_to "Register", new_member_path
          Or 
          = link_to "Sign In", login_path
    .span-4
      Sidebar Left
    .span-16
      = yield
    %div{:class => ["span-4 last"]}
      Sidebar Right