!!! XML iso-8859-1

%html
%head
  %title ToastSchedule
  = stylesheet_link_tag("blueprint/screen.css")
  = stylesheet_link_tag("blueprint/ie.css")
  = stylesheet_link_tag("special.css")
  = javascript_include_tag 'jquery', 'rails', 'application'
  = javascript_include_tag "jquery.min.js", "application"
  = javascript_include_tag "jquery-ui.min.js", "application"
  = stylesheet_link_tag "jquery-ui.css"
  = csrf_meta_tag
%body
  %p#notice= notice 
  %p#class= alert
  .container
    .span-24
      %span.right.small
        - if session[:member_id]
          = "Signed in as "
          %b= session[:member_name]
          = ": Not you?"
          = link_to "Logout", logout_path
        - else
          Not a member? 
          = link_to "Register", new_member_path
          Or 
          = link_to "Sign In", login_path
    .span-24
      = yield