!!! xml iso-8859-1

%html
%head
  %title= @header_text || "tm schedule me"
  /= stylesheet_include_tag "application"
  = stylesheet_link_tag("/stylesheets/blueprint/screen.css")
  = stylesheet_link_tag("/stylesheets/blueprint/ie.css")
  = stylesheet_link_tag "/stylesheets/blueprint/print.css", :media => "print"
  = stylesheet_link_tag "/stylesheets/blueprint/plugins/tabs/screen.css"
  = stylesheet_link_tag("formtastic_changes")
  = stylesheet_link_tag("formtastic")
  = stylesheet_link_tag("special.css")
  = javascript_include_tag 'jquery', 'rails', 'application'
  = javascript_include_tag "jquery-ui.min.js", "application"
  = javascript_include_tag "https://js.stripe.com/v1/", "application"
  /= javascript_include_tag "striper.js"
  = stylesheet_link_tag "jquery-ui.css"
  = csrf_meta_tags
%body
  %p#class= alert
  .container
    .span-24#header
      .span-13#site_title
        =@header_text || "TM Schedule"
      .span-11.last
        .span-10.log_in_bar#header_right= render "layouts/nav_login"
        .span-11.prepend-1.log_in_bar.last= render "layouts/nav_tabs"
    = yield
    .span-24.last#footer
      .span-16
        - if notice 
          %p#notice= notice 
        - else
          %p
      .span-8.last= render "layouts/nav_footer"
