= semantic_form_for @member do |f|
  .span-10.last.append-6
    = f.inputs do
      = f.input :name, :as => :string
      = f.input :email, :as => :email
      - if @editing_self
        = f.input :password
        = f.input :password_confirmation
    = f.buttons :commit
