= semantic_form_for @member do |f|
  - f.inputs do
    = f.input :name, :as => :string
    = f.input :email, :as => :email
    = f.input :phone, :as => :phone
    - if @editing_self
      = f.input :password
      = f.input :password_confirmation
 
  = f.buttons :commit