%span.span-4
  .span-4#lead_box.member_background Memberships
  // .span-4= link_to "(Add Membership)", new_relationship_path
%span.span-16
  .span-20#lead_box
    = link_to current_club.name, current_club, :style => 'text-decoration: none'
  .span-20#header_box Search for another great member by name or e-mail:
   
  .span-20
    
    = form_tag members_search_path, :method => 'get' do 
      = text_field_tag :search, params[:search]
      #test= submit_tag "Search", :name => nil
  .span-20
    - unless @members.nil?
      - if @members.count == 0 
        %h3 No candidates found either matching or not already in club
        %h3= link_to "Create a new member?", new_member_path
      - else
        %h4 Candidates
        %table
          %th Add
          %th Name
          %th E-Mail
          - @members.each do |member|
            %tr
              %td= link_to "(add)", new_member_relationship_path(member) 
              %td= link_to member.name, member
              %td= member.email

