= content_for :top_title do
  = "Member - " + @member.name
.span-4
  .span-4#lead_box.member_background Member
  #action_box
    .span-4= link_to '(Edit)', edit_member_path(@member)
    .span-4= link_to '(Add)', new_member_path()
.span-20.last
  .span-16
    .span-4#labeler Name
    = @member.name
  .span-20#content_box
    .span-20  
      .span-4#labeler E-Mail
      = @member.email
    .span-20  
      .span-4#labeler Phone
      = @member.phone
    .span-20  
      .span-4#labeler.club_background Club
      - if not @member.my_club.nil? then  
        .span-6= link_to @member.my_club.name, @member.my_club 
    .span-20  
      .span-4#labeler.meeting_background Meetings
      .span-8.last= link_to "History", "http://www.google.com"
      .span-8.last
        %table
          %tr
            %th Date
            %th Role
          = render :partial => 'role', :collection => @member.roles
          / TODO: Add in new Role function for a person
    .span-20.last
      .span-4#labeler.member_background Memberships
      .span-8.last
        %span.span-12
          %table
            %tr
              %th Membership
              %th Club
            %tr
              = render :partial => 'membership', :collection => @member.relationships
