.span-4
  .span-4#header_box.member_background Member
  .span-2= link_to 'Edit', edit_member_path(@member)
.span-16
  .span-8#header_box= @member.name
.span-16#content_box
  .span-20  
    .span-3
      %h4 E-Mail
    .span-6= @member.email
  .span-20  
    .span-3
      %h4 Phone
    .span-6= @member.phone
  .span-20#content_box
    %span.span-8
      %h3.meeting_background Meetings
      %span.span-8
        %table
          %tr
            %th Date
            %th Role
          = render :partial => 'role', :collection => @member.roles
    %span.span-4 
      %h3.club_background Clubs
      %span.span-8
        %table
          = render :partial => 'club', :collection => @clubs     