= content_for :top_title do
  = "Member - " + @member.name
.span-4
  .span-4#lead_box.member_background Member
  #action_box
    .span-4= link_to image_tag("change_member_button.png"), edit_member_path(@member)
    .span-4= link_to image_tag("add_member_button.png"), new_member_path()
.span-20.last
  .span-20
    .span-20
      .span-4#labeler Name
      .value= @member.name
    .span-20  
      .span-4#labeler E-Mail
      .value= @member.email
    .span-20  
      .span-4#labeler.meeting_background Roles
      .span-16.last
        %table
          %tr
            %th.value Date
            %th.value Time
            %th.value Role
          = render :partial => 'role', :collection => @member.last_five_roles
          / TODO: Add in new Role function for a person
    .span-20.last
      .span-4
        #labeler.member_background Memberships
        
      .span-8.last
        %span.span-12
          %table
            %tr
              %th Club
              %th Membership
            %tr
              = render :partial => 'membership', :collection => @member.memberships
