= content_for :top_title do
  = "Member - " + @member.name
.span-4
  .span-4#lead_box.member_background Member
  #action_box
    .span-4= link_to image_tag("change_member_button.png"), edit_member_path(@member)
    .span-4= link_to image_tag("add_member_button.png"), new_member_path()
.span-20.last
  .span-20
    %h2 Validation request sent to #{@member.name}
    %h3 A validation e-mail has been sent to #{@member.email}
    %h3 When you receive the e-mail, click the confirmation.  As soon as your account is confirmed, you will start receiving notifications and be able to update your preferences.

